# Environment
.env
.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
data/